.layout-left,
.layout-right,
.layout-logo,
.layout-header,
.sidebar,
.layout-content {
  transition: all .3s;
}

.layout-header {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.layout-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  z-index: 950;
}

.layout-right {
  position: absolute;
  left: 240px;
  padding: 0 0 0 0px;
  width: calc(100% - 240px);
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.layout-content {
  height: 100%;
}

.layout-main {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.layout-collapse {
  .layout-left,
  .layout-logo {
    width: 80px;
  }
  .layout-right {
    width: calc(100% - 80px);
    left: 80px;
  }
}

@media screen and (max-width: 992px) {
  @width: 240px;
  //登录页面
  .login-left {
    display: none !important;
  }
  .login-wrapper{
    margin: 0 auto;
    width: 96% !important;
  }
  .login-right {
    border-radius: 5px;
    padding: 40px;
    margin: 0 auto;
    float: none !important;
    width: 100% !important;
  }
  .login-right, .login-main {
    width: 100%!important;
  }

  .layout-left,
  .layout-logo {
    flex: 0 0 240px;
    width: 240px;
  }
  .layout-right {
    left: 240px;
  }

  .layout-collapse {
    .layout-left,
    .layout-logo {
      width: 80px !important;
      left: 0;
    }
    .layout-right {
      left: 80px !important;
    }
    .layout-main {
      left: 80px;
    }
    .layout-header {
      padding: 0;
      //transform: translate3d(230px, 0, 0);
    }
  }
}

.layout-wrapper {
  &.mobile {
    width: 100%;
    .layout-left {
      display: none;
    }
    .layout-right {
      left: 0px !important;
      width: 100%;
    }
    .ant-table-wrapper .ant-table-content {
      overflow-y: auto;
    }
    .ant-table-wrapper .ant-table-body {
      min-width: 800px;
    }
  }
  &.tablet {
    .ant-table-wrapper .ant-table-content {
      overflow-y: auto;
    }
    .ant-table-wrapper .ant-table-body {
      min-width: 800px;
    }
  }
}
